APP_NAME="CBT FK"
APP_ENV=production
APP_KEY=base64:+qE0XaG769bmrsrX9l7YrdpOQT50fs2stx09DihIkuE=
APP_DEBUG=false
APP_URL=http://10.9.4.2


LOG_CHANNEL=stack
LOG_LEVEL=warning

APP_TIMEZONE=Asia/Jakarta
TIMEZONE=Asia/Jakarta

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cbt_fk
DB_USERNAME=putra
DB_PASSWORD=123


#REDIS_DB=0
REDIS_CACHE_DB=1
REDIS_SESSION_DB=2
REDIS_QUEUE_DB=3

BROADCAST_DRIVER=log

CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis
LOAD_TEST_BYPASS_SINGLE_SESSION=false

SESSION_LIFETIME=480
REDIS_SESSION_DB=0
REDIS_CACHE_DB=1

FILESYSTEM_DISK=local

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MEMCACHED_HOST=127.0.0.1

MAIL_MAILER=log
MAIL_FROM_ADDRESS="cbt@localhost"
MAIL_FROM_NAME="CBT FK"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="CBT FK"
REDIS_CACHE_DB=1
REDIS_SESSION_DB=2
REDIS_QUEUE_DB=3
